<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" media="all" href="static/global.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934c.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/jsgrid.self-856a4cc4f01b89070352011686d00579094b87470b858d09.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/msa.self-faf6a0529fd04e6b439f675b07cf5b8b208268e0e8fdafcaa82.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/reference.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b9.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/snp_files.self-1ab15d92fd582ce3cb5f24c442b53bb7eb0ad32075e2c.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/status.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934c.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/theme.self-d95c9f909da0b9f117f3da3dfbbcd2f70a595b821328e4394.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/w2ui.self-e8142cdb0caefd421845bcf63740a29aa56245aedb82b5d035.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/application.self-3959b9c51bdf7b353dfa0d6749c37796178be4875f2.css"
          data-turbolinks-track="reload">
    <script src="static/jquery.self-5af507e253c37e9c9dcf65064fc3f93795e6e280127805799.js"
            data-turbolinks-track="reload"></script>
    <script src="static/rails-ujs.self-3b600681e552d8090230990c0a2e8537aff48159bea540.js"
            data-turbolinks-track="reload"></script>
    <script src="static/turbolinks.self-569ee74eaa15c1e2019317ff770b8769b1ec033a0f572.js"
            data-turbolinks-track="reload"></script>
    <script src="static/action_cable.self-69fddfcddf4fdef9828648f9330d6ce108b93b82b0b.js"
            data-turbolinks-track="reload"></script>
    <script src="static/cable.self-8484513823f404ed0c0f039f75243bfdede7af7919dda65f2e.js"
            data-turbolinks-track="reload"></script>
    <script src="static/reference.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde.js"
            data-turbolinks-track="reload"></script>
    <script src="static/snp_file.self-b1dde499bbe0a3f7e034628c623b1c1dee171effe7e14fd.js"
            data-turbolinks-track="reload"></script>
    <script src="static/snp_files.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde.js"
            data-turbolinks-track="reload"></script>
    <script src="static/status.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450.js"
            data-turbolinks-track="reload"></script>
    <script src="static/application.self-48e310ec26832887a00f4f1c9a8c7c5ec57e2ba7c5b8.js"
            data-turbolinks-track="reload"></script>

    <script src="static/application-95ca484a9d266310e628.js"></script>
    <title>PolyMarker</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token"
          content="yxEQQgg9g8KbvoyL4G0Ss994l8s6yeuvQHQBRg2ySQOvL+nAe0DusvqBsXRtIiL7h7k69LEH+qOS1OXEOXAxjA==">
</head>

<body class="container-fluid">

<!-- Header -->
<div id="header">
    <!-- Logo -->
    <a href="/" onclick="runOnPageChange()"><img class="logo_image"
                                                                            src="static/Logo-340d1e989260a1fa256e031a2f269e2144220d4b8ab48bf7a0e87c3.png"></a>

    <!-- Navigation -->
    <nav class="navbar">
        <a onclick="runOnPageChange()" href="/">Create Primers</a>
        <a onclick="runOnPageChange()" href="/designed_primers">Primers for wheat SNP-Chips</a>
        <a onclick="runOnPageChange()" href="/about">About</a>
        <a onclick="runOnPageChange()" href="/cite">Cite</a>
    </nav>
</div>

<!-- Error messages -->

<!-- Content -->
<div id="main-body">
    <h1>Primers for wheat SNP-Chips</h1>

    <p>The following files contain designed primers to known markers</p>

    <h2>Wheat Axiom 820k</h2>

    <p>The Axiom chip was developed by the WISP, for further information go <a
            href="http://www.cerealsdb.uk.net/cerealgenomics/CerealsDB/axiom_820K_search.php">here</a></p>

    <ul>
        <li><strong><a href="https://www.polymarker.info/static/820k_axiom/all_axiom_markers_refseq.csv.zip">Located
            against Chinese Spring RefSeq 1.0</a></strong>. The markers where extracted from <a
                href="ftp://ftp.ensemblgenomes.org/pub/plants/release-40/vcf/triticum_aestivum/triticum_aestivum.vcf.gz">ensembl
            plants, release 40</a>.
        </li>
    </ul>

    <p>The primers where designed against the pseudomolecules described in IWGSC(2018)[1]. </p>

    <h2>Wheat iSelect 90k</h2>

    <p>The markers in this section are from the Illumina iSelect chip described in Wang (2014)[2]. </p>

    <ul>
        <li><strong><a href="https://www.polymarker.info/static/iSelect/primers_all.csv.zip">Located against
            CSS</a></strong> 81,587 SNPs located according to the best hit to the scaffolds from the IWGSC[3]
        </li>
        <li><strong><a href="https://www.polymarker.info/static/iSelect/primers_in_map.csv.zip">Genetically
            mapped</a></strong> 46,977 SNPs located according to the genetic map.
        </li>
    </ul>

    <p>The primers were designed against the soft-masked reference as
        released in ensembl plants IWGSC1[3]. For an updated version of the
        primers, please look at the primers of the Wheat Axiom 820k section
        above, which contains the SNPs in the iSelect chip. </p>

    <h4>References</h4>

    <p>[1]: International Wheat Genome Sequencing Consortium (2018),
        Shifting the limits in wheat research and breeding using a fully
        annotated reference genome. Science, 361(eaar7191). doi: <a href="http://dx.doi.org/10.1126/science.aar7191">10.1126/science.aar7191</a>
    </p>

    <p>[2]: Wang, S., Wong, D., Forrest, K., <em>et al.</em> (2014),
        Characterization of polyploid wheat genomic diversity using a
        high-density 90 000 single nucleotide polymorphism array. Plant
        Biotechnology Journal, 12: 787-796. doi:<a href="http://dx.doi.org/10.1111/pbi.12183">10.1111/pbi.12183</a></p>

    <p>[3]: International Wheat Genome Sequencing Consortium. (2014). A chromosome-based draft sequence of the hexaploid
        bread wheat (<em>Triticum aestivum</em>) genome. Science, 345(6194), 1251788-1251788. doi:<a
                href="http://dx.doi.org/10.1126/science.1251788">10.1126/science.1251788</a></p>

</div>

<!-- Footer -->
<div class="footer">
    <img class="logo" src="static/jic-50e00d9b8e94eff1d9bcdab148524a0118b2cf4d980e24b9a9285eac.png"
         style="margin-left: 133.106px; margin-right: 133.106px;">
    <img class="logo" src="static/bbsrc-78cb6a1870bbe0b81f8885f7136a85998a5a1d4e055d0cf3b53118.png"
         style="margin-left: 133.106px; margin-right: 133.106px;">
    <img class="logo" src="static/iwyp-5f29e83554a9ca31addec57587ca00d6d9c14f12d242c596f731076.png"
         style="margin-left: 133.106px; margin-right: 133.106px;">
    <img class="logo" src="static/DFW-39bb36e2c93b9e54d0b4eea2848651cfd4ef436928b838b8002003bb.jpg"
         style="margin-left: 133.106px; margin-right: 133.106px;">
</div>


</body>
</html>
