<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">


    <link rel="stylesheet" media="all" href="static/global.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934c.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/jsgrid.self-856a4cc4f01b89070352011686d00579094b87470b858d09.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/msa.self-faf6a0529fd04e6b439f675b07cf5b8b208268e0e8fdafcaa82.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/reference.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b9.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/snp_files.self-1ab15d92fd582ce3cb5f24c442b53bb7eb0ad32075e2c.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/status.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934c.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/theme.self-d95c9f909da0b9f117f3da3dfbbcd2f70a595b821328e4394.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/w2ui.self-e8142cdb0caefd421845bcf63740a29aa56245aedb82b5d035.css"
          data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="static/application.self-3959b9c51bdf7b353dfa0d6749c37796178be4875f2.css"
          data-turbolinks-track="reload">
    <script src="static/jquery.self-5af507e253c37e9c9dcf65064fc3f93795e6e280127805799.js"
            data-turbolinks-track="reload"></script>
    <script src="static/rails-ujs.self-3b600681e552d8090230990c0a2e8537aff48159bea540.js"
            data-turbolinks-track="reload"></script>
    <script src="static/turbolinks.self-569ee74eaa15c1e2019317ff770b8769b1ec033a0f572.js"
            data-turbolinks-track="reload"></script>
    <script src="static/action_cable.self-69fddfcddf4fdef9828648f9330d6ce108b93b82b0b.js"
            data-turbolinks-track="reload"></script>
    <script src="static/cable.self-8484513823f404ed0c0f039f75243bfdede7af7919dda65f2e.js"
            data-turbolinks-track="reload"></script>
    <script src="static/reference.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde.js"
            data-turbolinks-track="reload"></script>
    <script src="static/snp_file.self-b1dde499bbe0a3f7e034628c623b1c1dee171effe7e14fd.js"
            data-turbolinks-track="reload"></script>
    <script src="static/snp_files.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde.js"
            data-turbolinks-track="reload"></script>
    <script src="static/status.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450.js"
            data-turbolinks-track="reload"></script>
    <script src="static/application.self-48e310ec26832887a00f4f1c9a8c7c5ec57e2ba7c5b8.js"
            data-turbolinks-track="reload"></script>

    <script src="static/application-95ca484a9d266310e628.js"></script>
    <title>PolyMarker</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token"
          content="riS2K5paQJy8xg3xFt+KrebsaL9sgMJSXg7vwAHbb6HKGk+p6Sct7N35MA6bkLrlvi3FgOdO016MrgtCNRkXLg==">
</head>

<body class="container-fluid">

<!-- Header -->
<div id="header">
    <!-- Logo -->
    <a href="/" onclick="runOnPageChange()"><img class="logo_image"
                                                                            src="static/Logo-340d1e989260a1fa256e031a2f269e2144220d4b8ab48bf7a0e87c3.png"></a>

    <!-- Navigation -->
    <nav class="navbar">
        <a onclick="runOnPageChange()" href="/">Create Primers</a>
        <a onclick="runOnPageChange()" href="/designed_primers">Primers for wheat
            SNP-Chips</a>
        <a onclick="runOnPageChange()" href="/about">About</a>
        <a onclick="runOnPageChange()" href="/cite">Cite</a>
    </nav>
</div>

<!-- Error messages -->

<!-- Content -->
<div id="main-body">
    <div id="content">
        <p>
        </p>
        <h1>Request primers</h1>

        <p>PolyMarker is an automated bioinformatics pipeline for SNP assay
            development which increases the probability of generating
            homoeologue-specific assays for polyploid species. PolyMarker generates a
            multiple alignment between the target SNP sequence and the selected
            reference genome (from the drop off menu in green below). It then
            generates a mask with informative polymorphic positions between
            homoeologs which are highlighted with respect to the target genome.</p>

        <p>See <a href="https://www.polymarker.info/about">About</a> to know how to prepare your input. For wheat, we
            have <a href="https://www.polymarker.info/designed_primers">designed primers</a> for the iSelect 90K chip
            and the Axiom 820k chip.</p>

        <p>If your request is terminated due a timeout, try with less markers and make sure the SNPs are not in low
            complexity regions. </p>

        <p></p>

    </div>

    <br>
    <hr>
    <div class="sidebar">

        <div class="form-group" id="sidebar">

            <form class="new_snp_file" id="new_snp_file" enctype="multipart/form-data" action="/snp_files"
                  accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden"
                                                                                                         name="authenticity_token"
                                                                                                         value="CZYZoZvBBSg+7jzTBQsqXm2p38Da2ZHsYlzdYvecd8DxyRVDECR2a2H9N0WSoUxS2K5VLRy1zLBKYvp2mAe3fQ==">

                <div id="fileInputCont">
                    <label for="fileInput">File</label>
                    <input accept=".csv" class="form-control-file" id="fileInput" type="file"
                           name="snp_file[polymarker_input]">
                </div>
                <br>
                <span style="color: red;">OR</span>
                <br>
                <div id="manInputCont">
                    <label for="manualInput">Manual Input</label>
                    <textarea class="form-control" id="manualInput" placeholder="Enter your input manually"
                              name="polymarker_manual_input[post]"></textarea>
                    <br>
                    <button id="populateExample" class="btn btn-warning" type="button">Example</button>
                    <button id="clearInput" class="btn" type="button">Clear Input</button>
                    <div class="refSelectContainer">
                        <h3>Reference</h3>
                        <br>
                        <select name="snp_file[reference]" id="snp_file_reference" onchange="datasetChangeReponse()">
                            <option value="Glycine max var. Williams 82" data-descriptipn="Glycine max var. Williams 82 was sequenced, assembled, and annotated by the U.S. DOE Joint Genome Institute (JGI-PGF)  in collaboration with a consortium of research labs and published. Current assembly is version v2.1 and comprises a total 978 Mb The reference sequence is available in [Ensembl plants Relase 50](ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/glycine_max/dna/).  The version of the assembly used has the repeats masked (Glycine_max.Glycine_max_v2.1.dna_rm.toplevel.fa).
" class="reference" selected="selected">Glycine max var. Williams 82
                            </option>
                            <option value="Hordeum vulgare (barley)" data-descriptipn="The barley genome assembly presented here was produced by the  [International Barley Genome Sequencing Consortium (IBSC)](http://barleygenome.org/) using a  [hierarchical approach](http://europepmc.org/abstract/MED/28447635). Initially multiplexed  short read BAC by BAC contig assemblies (N50: 79 kb) were scaffolded using physical, genetic  and optical maps (N50: 1.9 Mb) and were assigned to chromosomes using a POPSEQ genetic map.  Finally, the linear order and orientation of scaffold sequences was determined using  [chromosome-conformation capture sequencing (Hi-C)](http://wikipedia.org/wiki/Chromosome_conformation_capture).
The final chromosome-scale assembly consisted of 6,347 ordered super-scaffolds composed of  merged assemblies of individual BACs, representing 4.79 Gb (~95%) of the genomic sequence content,  of which 4.54 Gb have beenassigned to precise chromosomal locations in the Hi-C map.
The chloroplast genome component and its gene annotation are also present ([KC912687](http://www.ebi.ac.uk/ena/data/view/JQ754651)).
The assembly and description where downloaded from [ensembl!](http://plants.ensembl.org)
" class="reference">Hordeum vulgare (barley)
                            </option>
                            <option value="Tetraploid wheat, based on Chinese Spring RefSeq v1.0" data-descriptipn="Tetraploid reference produced by substracting the D genome from the hexaploid wheat.  A whole genome assembly has been carried out by the IWGSC in collaboration with the company NRGene.  Using a proprietary algorithm DeNovoMAGIC with Illumina sequencing data a 14.5 Gb assembly was produced.  Sequences have been ordered using POPSEQ data and Hi-C (chromosome conformation capture) to generate 21 pseudomolecules  representing the majority of the wheat genome.  Reference sequence available in [URGI](https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies) The assembly is described in [IWGSC (2018)](https://doi.org/10.1126/science.aar7191).
" class="reference">Tetraploid wheat, based on Chinese Spring RefSeq v1.0
                            </option>
                            <option value="Brassica napus cv Darmor-bzh v4.1" data-descriptipn="The assembly was produced with a misture of Sanger BAC libraries, GS FLX Titanium (450bp) and Illumina HiSeq (100bp) and assembled with SOAP.  The scaffolds where assigned to their corresponding genome by comparing the diploid progenitors and the scaffolds where anchored with the aid of genetic maps.   Reference sequence available in [genoscope](http://www.genoscope.cns.fr/brassicanapus/data/). The assembly is described in [Chalhoub, B. et al (2014)](https://doi.org/10.1126/science.1253435)
" class="reference">Brassica napus cv Darmor-bzh v4.1
                            </option>
                            <option value="Brassica oleracea kale-like type TO1000DH"
                                    data-descriptipn="The genomic sequence within this version of Ensembl includes 33,459 scaffolds (&gt;200 bp) with an N50 of 850 kb that was assembled  at NRC-Saskatoon using a hybrid approach from Illumina, Roche 454 and Sanger sequence data.  The assembly has been orientated and assigned to the nine pseudochromosomes using dense genotype-by-sequencing genetic maps. Reference sequence available in [ensembl!](http://plants.ensembl.org/Brassica_oleracea/Info/Index)[fasta](ftp://ftp.ensemblgenomes.org/pub/plants/release-41/fasta/brassica_oleracea/dna/). The assembly is described in [Parkin, I. et al (2014)](https://doi.org/10.1186/gb-2014-15-6-r77)
" class="reference">Brassica oleracea kale-like type TO1000DH
                            </option>
                            <option value="Brassica rapa ssp. pekinensis line Chiifu 401-42" data-descriptipn="The genomic sequence within this version of Ensembl includes 193 large scaffolds assembled by CAAS-IVF,  which have been orientated and assigned to pseudochromosomes using publicly available genetic markers. Reference sequence available in [ensembl!](http://plants.ensembl.org/Brassica_rapa/Info/Index)[fasta](ftp://ftp.ensemblgenomes.org/pub/plants/release-41/fasta/brassica_rapa/dna/). The assembly is described in [The Brassica rapa Genome Sequencing Project Consortium  (2011)](https://www.nature.com/articles/ng.919)
" class="reference">Brassica rapa ssp. pekinensis line Chiifu 401-42
                            </option>
                            <option value="Rye (Secale cereale L.) inbred line Lo7 v2" data-descriptipn="The scaffolds  were constructed using the Whole Genome Shotgun (WGS) assembly of Lo7.  To link WGS contigs the scaffolding software SSPACE (version 2.3) was used.  The assmebly contains 1.29 million scaffolds with a cumulative length of 2.8 Gbp. Reference sequence available from [IPK](https://doi.org/10.5447/IPK/2016/56). The assembly is described in [Bauer, E. et al (2014)](https://doi.org/10.1111/tpj.13436)
" class="reference">Rye (Secale cereale L.) inbred line Lo7 v2
                            </option>
                            <option value="Durum wheat genome (cv. Svevo)" data-descriptipn="An international consortium has generated a high quality reference sequence of the modern durum wheat cultivar Svevo. Whole genome libraries were sequenced with Illumina short paired-end (2 x 250 bp) and long mate pair (up to 8-10 kb)  protocols and the reads were assembly with the NR-Gene DeNovoMAGICTM pipeline. In total, a 270x coverage was obtained,  and the reads were assembled into 10.5 Gb of sequence with an L50 and L90 length of 6 and 1 Mb, respectively (N50: 493; N90: 2019).  The assembly scaffolds have been anchored to a high-density genetic map based on Svevo × Zavitan RIL population and merged  into super-scaffolds using Hi-C data; 95% of the scaffolds have been anchored along the chromosomes and 90% oriented.  Reference sequence available in [InterOmics](https://www.interomics.eu/durum-wheat-genome)
" class="reference">Durum wheat genome (cv. Svevo)
                            </option>
                            <option value="Triticum urartu (Tu2.0)" data-descriptipn="Triticum urartu (AA) is the diploid progenitor of tetraploid and hexaploid wheat.  This assembly is based on T. urartu accession G1812 (PI428198).  A previous draft assembly ( [Ling et al., 2013](https://doi.org/10.1038/nature11997) ),  created using Illumina HiSeq2000 WGS short reads, was improved using BAC-by-BAC sequencing,  SMRT sequencing, a BioNano genome map, and 10x Genomics linked reads into a chromosome level assembly  of T. urartu ( [Ling et al., 2018](https://doi.org/10.1038/s41586-018-0108-0) ). [MBKbase](http://www.mbkbase.org/Tu/).
" class="reference">Triticum urartu (Tu2.0)
                            </option>
                            <option value="Wheat cv Chinese Spring RefSeq v1.0" data-descriptipn="A whole genome assembly has been carried out by the IWGSC in collaboration with the company NRGene.  Using a proprietary algorithm DeNovoMAGIC with Illumina sequencing data a 14.5 Gb assembly was produced.  Sequences have been ordered using POPSEQ data and Hi-C (chromosome conformation capture) to generate 21  pseudomolecules representing the majority of the wheat genome. Reference sequence available in URGI  The assembly is described in [IWGSC (2018)](https://doi.org/10.1126/science.aar7191). Reference sequence  available in [ensembl plants](https://plants.ensembl.org/Triticum_aestivum/Info/Index)  ([reference file](ftp://ftp.ensemblgenomes.org/pub/plants/release-43/fasta/triticum_aestivum/dna/Triticum_aestivum.IWGSC.dna_rm.toplevel.fa.gz)) The repeats are masked to avoid multiple hits in repetitive regions.
" class="reference">Wheat cv Chinese Spring RefSeq v1.0
                            </option>
                            <option value="Triticum aestivum (cv. Paragon)" data-descriptipn="The assembly is done with the pipeline described in  Clavijo, Venturini et al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and scaffolds below 1 kbp. The assembly is available in the [grassroots portal](https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/) This assembly is part of a BBSRC strategic longer and larger (sLoLa) grant award between Earlham Institute (EI), John Innes Centre (JIC), European Bioinformatics Institute (EBI) and Rothamsted Research (RRes). To find the scaffold where your markers are, you can blast the sequence [here](https://wheatis.tgac.ac.uk/grassroots-portal/blast).
" class="reference">Triticum aestivum (cv. Paragon)
                            </option>
                            <option value="Triticum aestivum (cv. Cadenza)" data-descriptipn="The assembly is done with the pipeline described in  Clavijo, Venturini et al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and scaffolds below 1 kbp. The assembly is available in the [grassroots portal](https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/) This assembly is part of a BBSRC strategic longer and larger (sLoLa) grant award between Earlham Institute (EI), John Innes Centre (JIC), European Bioinformatics Institute (EBI) and Rothamsted Research (RRes). To find the scaffold where your markers are, you can blast the sequence [here](https://wheatis.tgac.ac.uk/grassroots-portal/blast).
" class="reference">Triticum aestivum (cv. Cadenza)
                            </option>
                            <option value="Triticum aestivum (cv. Robigus)" data-descriptipn="The assembly is done with the pipeline described in  Clavijo, Venturini et al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and scaffolds below 1 kbp. The assembly is available in the [grassroots portal](https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/) This assembly is part of a BBSRC strategic longer and larger (sLoLa) grant award between Earlham Institute (EI), John Innes Centre (JIC), European Bioinformatics Institute (EBI) and Rothamsted Research (RRes). To find the scaffold where your markers are, you can blast the sequence [here](https://wheatis.tgac.ac.uk/grassroots-portal/blast).
" class="reference">Triticum aestivum (cv. Robigus)
                            </option>
                            <option value="Triticum aestivum (cv. Claire)" data-descriptipn="The assembly is done with the pipeline described in  Clavijo, Venturini et al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and scaffolds below 1 kbp. The assembly is available in the [grassroots portal](https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/) This assembly is part of a BBSRC strategic longer and larger (sLoLa) grant award between Earlham Institute (EI), John Innes Centre (JIC), European Bioinformatics Institute (EBI) and Rothamsted Research (RRes). To find the scaffold where your markers are, you can blast the sequence [here](https://wheatis.tgac.ac.uk/grassroots-portal/blast).
" class="reference">Triticum aestivum (cv. Claire)
                            </option>
                            <option value="Triticum turgidum (cv. Kronos)" data-descriptipn="The assembly is done with the pipeline described in  Clavijo, Venturini et al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and scaffolds below 1 kbp. The assembly is available in the [grassroots portal](https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/) This assembly is part of a BBSRC strategic longer and larger (sLoLa) grant award between Earlham Institute (EI), John Innes Centre (JIC), European Bioinformatics Institute (EBI) and Rothamsted Research (RRes). To find the scaffold where your markers are, you can blast the sequence [here](https://wheatis.tgac.ac.uk/grassroots-portal/blast).
" class="reference">Triticum turgidum (cv. Kronos)
                            </option>
                            <option value="Wheat cv Chinese Spring RefSeq v1.0 (Full sequence)" data-descriptipn="A whole genome assembly has been carried out by the IWGSC in collaboration with the company NRGene.  Using a proprietary algorithm DeNovoMAGIC with Illumina sequencing data a 14.5 Gb assembly was produced.  Sequences have been ordered using POPSEQ data and Hi-C (chromosome conformation capture) to generate 21 pseudomolecules  representing the majority of the wheat genome. Reference sequence available in [URGI](https://wheat-urgi.versailles.inra.fr/Seq-Repository/Annotations) The assembly is described in [IWGSC (2018)](https://doi.org/10.1126/science.aar7191).
" class="reference">Wheat cv Chinese Spring RefSeq v1.0 (Full sequence)
                            </option>
                            <option value="Triticum aestivum, Fielder, 201216" data-descriptipn="Triticum aestivum, Fielder, 201216
" class="reference">Triticum aestivum, Fielder, 201216
                            </option>
                            <option value="Triticum turgidum, Kronos, v1.1" data-descriptipn="Triticum turgidum, Kronos, v1.1
" class="reference">Triticum turgidum, Kronos, v1.1
                            </option>
                            <option value="Triticum aestivum, Chinese Spring, IWGSC v2.1" data-descriptipn="Triticum aestivum, Chinese Spring, IWGSC v2.1
" class="reference">Triticum aestivum, Chinese Spring, IWGSC v2.1
                            </option>
                        </select> <br><br>
                        <div class="refDesContainer">
                            <p id="GlycinemaxvarWilliams" class="refDes" style="display: block;">Glycine
                                max var. Williams 82 was sequenced, assembled, and annotated by the
                                U.S. DOE Joint Genome Institute (JGI-PGF) in collaboration with a
                                consortium of research labs and published. Current assembly is version
                                v2.1 and comprises a total 978 Mb The reference sequence is available in
                                <a href="ftp://ftp.ensemblgenomes.org/pub/plants/release-50/fasta/glycine_max/dna/">Ensembl
                                    plants Relase 50</a>. The version of the assembly used has the repeats masked
                                (Glycine_max.Glycine_max_v2.1.dna_rm.toplevel.fa). </p>

                            <p id="Hordeumvulgarebarley" class="refDes" style="display: none;">The barley genome
                                assembly presented here was produced by the <a href="http://barleygenome.org/">International
                                    Barley Genome Sequencing Consortium (IBSC)</a> using a <a
                                        href="http://europepmc.org/abstract/MED/28447635">hierarchical approach</a>.
                                Initially multiplexed short read BAC by BAC contig assemblies (N50: 79
                                kb) were scaffolded using physical, genetic and optical maps (N50: 1.9
                                Mb) and were assigned to chromosomes using a POPSEQ genetic map.
                                Finally, the linear order and orientation of scaffold sequences was
                                determined using <a href="http://wikipedia.org/wiki/Chromosome_conformation_capture">chromosome-conformation
                                    capture sequencing (Hi-C)</a>.
                                The final chromosome-scale assembly consisted of 6,347 ordered
                                super-scaffolds composed of merged assemblies of individual BACs,
                                representing 4.79 Gb (~95%) of the genomic sequence content, of which
                                4.54 Gb have beenassigned to precise chromosomal locations in the Hi-C
                                map.
                                The chloroplast genome component and its gene annotation are also
                                present (<a href="http://www.ebi.ac.uk/ena/data/view/JQ754651">KC912687</a>).
                                The assembly and description where downloaded from <a href="http://plants.ensembl.org/">ensembl!</a>
                            </p>

                            <p id="TetraploidwheatbasedonChineseSpringRefSeqv" class="refDes" style="display: none;">
                                Tetraploid
                                reference produced by substracting the D genome from the hexaploid
                                wheat. A whole genome assembly has been carried out by the IWGSC in
                                collaboration with the company NRGene. Using a proprietary algorithm
                                DeNovoMAGIC with Illumina sequencing data a 14.5 Gb assembly was
                                produced. Sequences have been ordered using POPSEQ data and Hi-C
                                (chromosome conformation capture) to generate 21 pseudomolecules
                                representing the majority of the wheat genome. Reference sequence
                                available in <a href="https://wheat-urgi.versailles.inra.fr/Seq-Repository/Assemblies">URGI</a>
                                The assembly is described in <a href="https://doi.org/10.1126/science.aar7191">IWGSC
                                (2018)</a>.</p>

                            <p id="BrassicanapuscvDarmorbzhv" class="refDes" style="display: none;">The
                                assembly was produced with a misture of Sanger BAC libraries, GS FLX
                                Titanium (450bp) and Illumina HiSeq (100bp) and assembled with SOAP.
                                The scaffolds where assigned to their corresponding genome by comparing
                                the diploid progenitors and the scaffolds where anchored with the aid of
                                genetic maps. Reference sequence available in <a
                                        href="http://www.genoscope.cns.fr/brassicanapus/data/">genoscope</a>. The
                                assembly is described in <a href="https://doi.org/10.1126/science.1253435">Chalhoub, B.
                                    et al (2014)</a></p>

                            <p id="BrassicaoleraceakaleliketypeTODH" class="refDes" style="display: none;">The
                                genomic sequence within this version of Ensembl includes 33,459
                                scaffolds (&gt;200 bp) with an N50 of 850 kb that was assembled at
                                NRC-Saskatoon using a hybrid approach from Illumina, Roche 454 and
                                Sanger sequence data. The assembly has been orientated and assigned to
                                the nine pseudochromosomes using dense genotype-by-sequencing genetic
                                maps. Reference sequence available in <a
                                        href="http://plants.ensembl.org/Brassica_oleracea/Info/Index">ensembl!</a><a
                                        href="ftp://ftp.ensemblgenomes.org/pub/plants/release-41/fasta/brassica_oleracea/dna/">fasta</a>.
                                The assembly is described in <a href="https://doi.org/10.1186/gb-2014-15-6-r77">Parkin,
                                    I. et al (2014)</a></p>

                            <p id="BrassicarapassppekinensislineChiifu" class="refDes" style="display: none;">The
                                genomic sequence within this version of Ensembl includes 193 large
                                scaffolds assembled by CAAS-IVF, which have been orientated and
                                assigned to pseudochromosomes using publicly available genetic markers.
                                Reference sequence available in <a
                                        href="http://plants.ensembl.org/Brassica_rapa/Info/Index">ensembl!</a><a
                                        href="ftp://ftp.ensemblgenomes.org/pub/plants/release-41/fasta/brassica_rapa/dna/">fasta</a>.
                                The assembly is described in <a href="https://www.nature.com/articles/ng.919">The
                                    Brassica rapa Genome Sequencing Project Consortium (2011)</a></p>

                            <p id="RyeSecalecerealeLinbredlineLov" class="refDes" style="display: none;">The
                                scaffolds were constructed using the Whole Genome Shotgun (WGS)
                                assembly of Lo7. To link WGS contigs the scaffolding software SSPACE
                                (version 2.3) was used. The assmebly contains 1.29 million scaffolds
                                with a cumulative length of 2.8 Gbp. Reference sequence available from <a
                                        href="https://doi.org/10.5447/IPK/2016/56">IPK</a>. The assembly is described in
                                <a href="https://doi.org/10.1111/tpj.13436">Bauer, E. et al (2014)</a></p>

                            <p id="DurumwheatgenomecvSvevo" class="refDes" style="display: none;">An
                                international consortium has generated a high quality reference
                                sequence of the modern durum wheat cultivar Svevo. Whole genome
                                libraries were sequenced with Illumina short paired-end (2 x 250 bp) and
                                long mate pair (up to 8-10 kb) protocols and the reads were assembly
                                with the NR-Gene DeNovoMAGICTM pipeline. In total, a 270x coverage was
                                obtained, and the reads were assembled into 10.5 Gb of sequence with an
                                L50 and L90 length of 6 and 1 Mb, respectively (N50: 493; N90: 2019).
                                The assembly scaffolds have been anchored to a high-density genetic map
                                based on Svevo × Zavitan RIL population and merged into super-scaffolds
                                using Hi-C data; 95% of the scaffolds have been anchored along the
                                chromosomes and 90% oriented. Reference sequence available in <a
                                        href="https://www.interomics.eu/durum-wheat-genome">InterOmics</a></p>

                            <p id="TriticumurartuTu" class="refDes" style="display: none;">Triticum
                                urartu (AA) is the diploid progenitor of tetraploid and hexaploid
                                wheat. This assembly is based on T. urartu accession G1812 (PI428198).
                                A previous draft assembly ( <a href="https://doi.org/10.1038/nature11997">Ling et al.,
                                    2013</a>
                                ), created using Illumina HiSeq2000 WGS short reads, was improved
                                using BAC-by-BAC sequencing, SMRT sequencing, a BioNano genome map, and
                                10x Genomics linked reads into a chromosome level assembly of T.
                                urartu ( <a href="https://doi.org/10.1038/s41586-018-0108-0">Ling et al., 2018</a> ). <a
                                        href="http://www.mbkbase.org/Tu/">MBKbase</a>.</p>

                            <p id="WheatcvChineseSpringRefSeqv" class="refDes" style="display: none;">A
                                whole genome assembly has been carried out by the IWGSC in
                                collaboration with the company NRGene. Using a proprietary algorithm
                                DeNovoMAGIC with Illumina sequencing data a 14.5 Gb assembly was
                                produced. Sequences have been ordered using POPSEQ data and Hi-C
                                (chromosome conformation capture) to generate 21 pseudomolecules
                                representing the majority of the wheat genome. Reference sequence
                                available in URGI The assembly is described in <a
                                        href="https://doi.org/10.1126/science.aar7191">IWGSC (2018)</a>. Reference
                                sequence available in <a href="https://plants.ensembl.org/Triticum_aestivum/Info/Index">ensembl
                                    plants</a> (<a
                                        href="ftp://ftp.ensemblgenomes.org/pub/plants/release-43/fasta/triticum_aestivum/dna/Triticum_aestivum.IWGSC.dna_rm.toplevel.fa.gz">reference
                                    file</a>) The repeats are masked to avoid multiple hits in repetitive regions. </p>

                            <p id="TriticumaestivumcvParagon" class="refDes" style="display: none;">The
                                assembly is done with the pipeline described in Clavijo, Venturini et
                                al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and
                                scaffolds below 1 kbp. The assembly is available in the <a
                                        href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/">grassroots
                                    portal</a>
                                This assembly is part of a BBSRC strategic longer and larger (sLoLa)
                                grant award between Earlham Institute (EI), John Innes Centre (JIC),
                                European Bioinformatics Institute (EBI) and Rothamsted Research (RRes).
                                To find the scaffold where your markers are, you can blast the sequence <a
                                        href="https://wheatis.tgac.ac.uk/grassroots-portal/blast">here</a>.</p>

                            <p id="TriticumaestivumcvCadenza" class="refDes" style="display: none;">The
                                assembly is done with the pipeline described in Clavijo, Venturini et
                                al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and
                                scaffolds below 1 kbp. The assembly is available in the <a
                                        href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/">grassroots
                                    portal</a>
                                This assembly is part of a BBSRC strategic longer and larger (sLoLa)
                                grant award between Earlham Institute (EI), John Innes Centre (JIC),
                                European Bioinformatics Institute (EBI) and Rothamsted Research (RRes).
                                To find the scaffold where your markers are, you can blast the sequence <a
                                        href="https://wheatis.tgac.ac.uk/grassroots-portal/blast">here</a>.</p>

                            <p id="TriticumaestivumcvRobigus" class="refDes" style="display: none;">The
                                assembly is done with the pipeline described in Clavijo, Venturini et
                                al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and
                                scaffolds below 1 kbp. The assembly is available in the <a
                                        href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/">grassroots
                                    portal</a>
                                This assembly is part of a BBSRC strategic longer and larger (sLoLa)
                                grant award between Earlham Institute (EI), John Innes Centre (JIC),
                                European Bioinformatics Institute (EBI) and Rothamsted Research (RRes).
                                To find the scaffold where your markers are, you can blast the sequence <a
                                        href="https://wheatis.tgac.ac.uk/grassroots-portal/blast">here</a>.</p>

                            <p id="TriticumaestivumcvClaire" class="refDes" style="display: none;">The
                                assembly is done with the pipeline described in Clavijo, Venturini et
                                al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and
                                scaffolds below 1 kbp. The assembly is available in the <a
                                        href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/">grassroots
                                    portal</a>
                                This assembly is part of a BBSRC strategic longer and larger (sLoLa)
                                grant award between Earlham Institute (EI), John Innes Centre (JIC),
                                European Bioinformatics Institute (EBI) and Rothamsted Research (RRes).
                                To find the scaffold where your markers are, you can blast the sequence <a
                                        href="https://wheatis.tgac.ac.uk/grassroots-portal/blast">here</a>.</p>

                            <p id="TriticumturgidumcvKronos" class="refDes" style="display: none;">The
                                assembly is done with the pipeline described in Clavijo, Venturini et
                                al. 2017 10.1101/gr.217117.116 , filtering non-wheat sequences and
                                scaffolds below 1 kbp. The assembly is available in the <a
                                        href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Clavijo_2017-04-25_Wheat-LoLa/">grassroots
                                    portal</a>
                                This assembly is part of a BBSRC strategic longer and larger (sLoLa)
                                grant award between Earlham Institute (EI), John Innes Centre (JIC),
                                European Bioinformatics Institute (EBI) and Rothamsted Research (RRes).
                                To find the scaffold where your markers are, you can blast the sequence <a
                                        href="https://wheatis.tgac.ac.uk/grassroots-portal/blast">here</a>.</p>

                            <p id="WheatcvChineseSpringRefSeqvFullsequence" class="refDes" style="display: none;">A
                                whole genome assembly has been carried out by the IWGSC in
                                collaboration with the company NRGene. Using a proprietary algorithm
                                DeNovoMAGIC with Illumina sequencing data a 14.5 Gb assembly was
                                produced. Sequences have been ordered using POPSEQ data and Hi-C
                                (chromosome conformation capture) to generate 21 pseudomolecules
                                representing the majority of the wheat genome. Reference sequence
                                available in <a href="https://wheat-urgi.versailles.inra.fr/Seq-Repository/Annotations">URGI</a>
                                The assembly is described in <a href="https://doi.org/10.1126/science.aar7191">IWGSC
                                    (2018)</a>.</p>

                            <p id="TriticumaestivumFielder" class="refDes" style="display: none;">Triticum aestivum,
                                Fielder, 201216</p>

                            <p id="TriticumturgidumKronosv" class="refDes" style="display: none;">Triticum turgidum,
                                Kronos, v1.1 </p>

                            <p id="TriticumaestivumChineseSpringIWGSCv" class="refDes" style="display: none;">Triticum
                                aestivum, Chinese Spring, IWGSC v2.1</p>

                        </div>
                    </div>
                </div>

                <br>
                <br>
                <div class="emailContainer">
                    <label for="snp_file_email">Email</label>
                    <input type="email" class="form-control" name="snp_file[email]" id="snp_file_email"> (optional)
                </div>
                <br>
                <br>
                <br>
                <input type="submit" name="commit" value="Create Primers" data-disable-with="Create Primers">
                <br>

                Your email will only be used to send you updates in the status of your job and will be deleted upon
                completion.

            </form>
            <br>


        </div>

    </div>
    <hr>
</div>

<!-- Footer -->
<div class="footer">
    <img class="logo" src="static/jic-50e00d9b8e94eff1d9bcdab148524a0118b2cf4d980e24b9a9285eac.png"
         style="margin-left: 133.106px; margin-right: 133.106px;">
    <img class="logo" src="static/bbsrc-78cb6a1870bbe0b81f8885f7136a85998a5a1d4e055d0cf3b53118.png"
         style="margin-left: 133.106px; margin-right: 133.106px;">
    <img class="logo" src="static/iwyp-5f29e83554a9ca31addec57587ca00d6d9c14f12d242c596f731076.png"
         style="margin-left: 133.106px; margin-right: 133.106px;">
    <img class="logo" src="static/DFW-39bb36e2c93b9e54d0b4eea2848651cfd4ef436928b838b8002003bb.jpg"
         style="margin-left: 133.106px; margin-right: 133.106px;">
</div>


</body>
</html>
