<!DOCTYPE html>
<html lang="en">
<head>
    <title>PolyMarker - webui</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>

<div id="header">
    <a href="/" onclick="runOnPageChange()"><img class="logo_image"
                                                 src="/static/pm_logo.png"/></a>

    <nav class="navbar">
        <a onclick="runOnPageChange()" href="/">Create Primers</a>
        <a onclick="runOnPageChange()" href="/designed_primers">Primers for wheat SNP-Chips</a>
        <a onclick="runOnPageChange()" href="/about">About</a>
        <a onclick="runOnPageChange()" href="/cite">Cite</a>
    </nav>
</div>

<div id="main-body">
    <div id="content">
        <p>
        <h1>Request primers</h1>

        <p>PolyMarker is an automated bioinformatics pipeline for SNP assay development which increases the probability
            of generating homoeologue-specific assays for polyploid species. PolyMarker generates a multiple alignment
            between the target SNP sequence and the selected reference genome (from the drop off menu in green below).
            It then generates a mask with informative polymorphic positions between homoeologs which are highlighted
            with respect to the target genome.</p>

        <p>See <a href="/about">About</a> to know how to prepare your input. For wheat, we have <a
                href="/designed_primers">designed primers</a> for the iSelect 90K chip and the Axiom 820k chip.</p>

        <p>If your request is terminated due a timeout, try with less markers and make sure the SNPs are not in low
            complexity regions. </p>


    </div>

    <br/>
    <hr/>
    <div class="sidebar">

        <div class="form-group" id="sidebar">
            <form class="new_snp_file" method="POST" enctype="multipart/form-data">

                <div id="fileInputCont">
                    <label for="query_file">File</label>
                    <input type=file id="query_file" name="query_file" class="form-control-file">
                </div>

                <br>
                <span style="color: red;">OR</span>
                <br>


                <div id="manInputCont">


                    <label for="text">Manual Input</label>
                    <textarea class="form-control" id="text" name="text"
                              placeholder="Enter your input manually"></textarea>
                    <br/>

                    <button id="populateExample" class="btn btn-warning" type="button">Example</button>


                    <button id="clearInput" class="btn" type="button">Clear Input</button>


                    <script type="text/javascript">

                        var selectElement = document.getElementById('populateExample');
                        var divElementq = document.getElementById('text');
                        var clearElement = document.getElementById('clearInput');


                        selectElement.onclick = function () {
                            var selectElement2 = document.getElementById('reference');
                            var selectedValue = selectElement2.options[selectElement2.selectedIndex].value;
                            divElementq.value = selectedValue;
                                if (selectedValue == '-- EMPTY --') {
                                    divElementq.innerHTML = 'invalid selection';
                                }
                                {% for reference in references %}
                                else if (selectedValue == '{{ reference[1] }}') {
                                    var ref_html = `{{ reference[3] }}`;
                                    divElementq.value = ref_html;
                                }
                                {% endfor %}
                        };

                        clearElement.onclick = function () {
                            divElementq.value = "";
                        }


                    </script>

                    <div class="refSelectContainer">
                        <h3>Reference</h3>
                        <br/>

                        <select name="reference" id="reference">
                            {% for reference in references %}
                            <option value="{{ reference[1] }}">{{ reference[1] }}</option>
                            {% endfor %}
                        </select>
                        <br/><br/>
                        <div id="ref_output" class="refDesContainer"></div>
                        <script type="text/javascript">

                            var selectElement = document.getElementById('reference');
                            var divElement = document.getElementById('ref_output');

                            selectElement.onchange = function () {
                                var selectedValue = selectElement.options[selectElement.selectedIndex].value;
                                if (selectedValue == '-- EMPTY --') {
                                    divElement.innerHTML = '<p>invalid selection</p>';
                                }
                                {% for reference in references %}
                                else if (selectedValue == '{{ reference[1] }}') {
                                    var ref_html = `{{ reference[4]|safe }}`;
                                    divElement.innerHTML = ref_html;
                                }
                                {% endfor %}
                            };

                            selectElement.onchange();

                        </script>

                    </div>
                </div>

                <br/>
                <br/>
                <div class="emailContainer">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">(optional)
                </div>
                <br/>
                <br/>
                <br/>
                <input type=submit value="Create Primers">

                <br/>

                Your email will only be used to send you updates in the status of your job and will be deleted upon
                completion.


            </form>
            <br/>


        </div>

    </div>
    <hr/>
</div>

<!-- Footer -->
<div class="footer">
    <img class="logo" src="/static/images/jic.png"/>
    <img class="logo" src="/static/images/bbsrc.png"/>
    <img class="logo" src="/static/images/iwyp.png"/>
    <img class="logo" src="/static/images/DFW.jpg"/>
</div>

</body>
</html>


